<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card padding *ngFor="let day of days">
    <ion-card-header>
      <ion-item (click)="day.toggleOpen()">
          {{day.dayName | titlecase}}
        <ion-list float-right>
          <ng-container *ngFor="let slot of day.timeSlots">
            <ion-item *ngIf="slot.hasFormattedHours()">
              <ion-label no-margin>
                {{slot.getFormattedHours()}}
              </ion-label>
            </ion-item>
          </ng-container>
        </ion-list>
        <ion-icon [name]="displayIcon(day)" color="favorite" item-right
                  style="margin-left: 8px;"></ion-icon>
      </ion-item>
    </ion-card-header>
    <ion-card-content *ngIf="day.open">
      <ion-row style="max-width: 300px;" *ngFor="let timeslot of day.timeSlots">
        <ion-col>
          <ion-datetime displayFormat="HH mm" placeholder="Openingsuur"
                        [(ngModel)]="timeslot.openingsHour"></ion-datetime>
        </ion-col>
        <ion-col>
          <p style="text-align: center;">-</p>
        </ion-col>
        <ion-col>
          <ion-datetime displayFormat="HH mm" placeholder="Sluitingsuur"
                        [(ngModel)]="timeslot.closingHour"></ion-datetime>
        </ion-col>
      </ion-row>

      <ion-row align-items-center>
        <button clear ion-button (click)="addHourSlot(day)" [disabled]="day.isOpenFor24hours">Voeg tijden toe</button>
      </ion-row>

      <ion-row>
        <ion-item>
          <ion-label>Is 24 uur open</ion-label>
          <ion-checkbox [(ngModel)]="day.isOpenFor24hours"></ion-checkbox>
        </ion-item>
      </ion-row>

    </ion-card-content>
  </ion-card>

</ion-content>
